<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home page</title>
    </head>
    <body>
       {{> header}}
       <p><a href="/home">HOME</a></p>
         <p><a href="/about">ABOUT</a></p>
           <p><a href="/projects">PROJECTS</a></p>
        <p>{{screamIT welcomeMessage}}</p>
        {{> footer}}
    </body>
</html>